{
    "name": "${name}",
    "version": "1.0.0",
    "description": "${description}",
    "license": "MIT",
    "author": "Kip Price",
    "test": "jest",

    "main": "compiled_js/${fname}",
    "module": "compiled_js/${fname}",
    "types": "typings/index",

    "scripts": {
        "build": "npm run build:tsc && npm run build:webpack",
        "build:webpack": "webpack",
        "build:tsc": "tsc -p tsconfig.json --emitDeclarationOnly",
        "test": "npx jest -- -t .test.ts"
    }
}